body,html{padding:0px;margin:0px;background-color:#80b5d4;background-position:center;background-size:cover;}
#cabecera{
	width: 100%;
	background-color:#80b5d4;
	text-align: center;
}
#logo{
	display: inline-block;
	height:10vw;
    margin-left: 15px;
}
h1{
	font-size: 7vw;
	display: inline-block;
}
h3{
	margin-left:1vw;
	font-size: 3.5vw;
}
#menu{
	width: 100%;
}
#myform{
	margin-top: 20px;
	width: 90%;
	background-color:white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 40px;
	border:solid;
	border-width:5px;
	border-color: #25546f;
}
.impar{
	background-color: #ffefd7;
	border-bottom: 2px solid #80b5d4;
}
.par{
	background-color: #f1f7f7;
	border-bottom: 2px solid #80b5d4;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #25546f;
	font-size:30px;
}

li {
	float: left;
	cursor: pointer;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #333;
}

#submit{
	font-size: 5vw;
	background-color: #f1f7f7;
	padding:1%;
	width: 30vw;
	cursor: pointer;
}
input[type=radio],input[type=checkbox] {
    width: 5%;
    transform: scale(1.25);
    margin-top: 20px;
}
input[type=text]{
	font-size: 3vw;
	padding:0.4%;
	margin-left:1vw;
	width: 50%;
}
select{
	font-size: 3vw;
	padding:0.4%;
	margin-left: 1vw;
	width: 50%;
}
label {
    cursor: pointer;
    font-size: 3vw;
}
#Q10{
	background-color: #f1f7f7;
	border-bottom: none;
}
#divSubmit{
	border-bottom: 2px solid #80b5d4;
	background-color: #ffefd7;
	text-align:  center;
}
#resultado{
	display: none;
	margin-top: 20px;
	background-color:white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 40px;
	border:solid;
	border-width:5px;
	border-color: #25546f;
}
h4{
	margin-left:2vw;
	margin-right:2vw;
	font-size: 2.5vw;
}
#portada{
	margin-top: 15px;
	width: 90%;
	background-color: #ffefd7;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 40px;
	border:solid;
	border-width:5px;
	border-color: #25546f;
}
#contenedorIniciar{
	text-align: center;
}
#iniciar{
    display: inline-block;
    background-color: white;
    border: solid;
    border-width: 5px;
    border-color: #25546f;
    font-size: 7vw;
    padding: 1%;
}
#enlace{
	text-decoration: none;
	color: black;
}
#iniciar:hover {transform: scale(1.2);}